/*========================================


  Universal Styling


 =======================================*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

/*========================================


  Header Styling


 =======================================*/

header {
  background: #fac2bd;
  padding: 25px;
  position: fixed;
  width: 100%;
  top: 0;
}

header li {
  display: inline-block;
  margin: 0 15px;
}

h1, nav {
  display: inline-block;
}

header nav {
  margin-left: 40px;
}

/*========================================


  Main Styling


 =======================================*/

.images {
  position: relative;
  transform: rotate(90deg);
  left: 100px;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding-top: 100px;
}

h2 {
  margin: 20px 0px 10px;
}
